@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');

:root {
    --cursor-visibility: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;

    font-family: "Red Hat Mono", monospace;
    font-size: 3vmin;
    line-height: 3.1vmin;
    font-weight: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

strong {
  font-weight: normal;
}

#content {
    min-width: 82vmin;
    min-height: 82vmin;
}

.neofetch-container {
  padding-top: 10px;
  display: flex;
  width: 80vw;

  img {
    width: 40%;
    padding-right: 10px;
  }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 1px white;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 0 0 0 1px white;
}

.cursor {
    visibility: var(--cursor-visibility);
        content: "|";
        overflow: hidden;
        color: white;
        animation: blink 500ms linear infinite alternate;
}

#cd, #whoami, #cat, #tree {
    &:after {
        @extend .cursor;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 2.0vmin;
        line-height: 2.1vmin;
    }

    #content {
        min-width: 80vmin;
    }
    .neofetch-container {
        width: 30vw;
    }
}
