$charcolor: #ffffff;
body {
    background: #311F5F;

    #terminal {
        color: $charcolor;
    }

    #user {
        color: #ffffff;
    }

    #dir {
        color: #EDFFB1;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}

a {
    color: $charcolor;
}
